<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action= "/login" method="POST">
        <label for="user_id">ID</label>
        <input id = "user_id" name= "user_id" type="text">
        <br/>
        <label for="user_pw">PW</label>
        <input id = "user_pw" name= "user_pw" type="text">
        <button type="submit">로그인</button>

    </form>

</body>
</html>